html, body{
    margin :0;
    padding : 0;
    height: 100vh;
}
.error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
/*  $   Login
    ***********/
    #container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: dimgrey;
    }
    #container > .loginPanel {
        display: flex;
        flex-direction: column;
        background: #23406d;
        color: white;
        min-height: 90px;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        justify-content: center;
        border: 1px solid #1d3f73;
        box-shadow: 0 0 4px 2px hsl(216, 37%, 31%);
    }
        #container > .loginPanel > form > .row {
            display: flex;
            flex-flow: row wrap;
        }
            #container > .loginPanel > form > span{
                display: block;
                font-size: 14px;
                font-weight: bold;
                margin-top: 10px;
            }
        #container > .loginPanel > form > .row > input[type="text"]{
            margin: 0 15px;
        }
        #container > .loginPanel > form > .row:nth-child(2){
            font-size: 16px;
            margin: 10px 0;
            padding: 3px 5px;        
        }
        #container > .loginPanel > form > .row > button{
            width: 100%;
            margin-top: 15px;
            padding : 10px;
            font-size: 15px;
            border: none;
            color: white;
            font-weight: bold;
            background: #0a7922;
        }
/*  $   header
    ***********/

/*  $   create
    ***********/
        body > .creationArticle{
            height: 100vh;
            width: 100vw;
            background: dimgrey;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
        }
            body > .creationArticle > form{
                display: flex;
                flex-flow: column wrap;
                width: 500px;
                background: white;
                border-radius: 4px;
                padding: 10px;
                margin-top: 20px;
            }
                body > .creationArticle > form > .row{
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                }
                body > .creationArticle > form > .row:last-child{
                    justify-content: space-around;
                }
                body > .creationArticle > form > .row:not(:first-child):not(:last-child){
                    margin-top: 10px
                }
                    body > .creationArticle > form > .row > label{
                        flex: 1 1 0;
                    }
                    body > .creationArticle > form > .row > input,
                    body > .creationArticle > form > .row > textarea{
                        flex: 2 1 0;
                        padding: 3px 5px;
                    }
                    body > .creationArticle > form > .row > textarea{
                        resize: none;
                        height: 50px;
                    }
                    body > .creationArticle > form > .row > *:nth-child(3){
                        flex: 0 0 0;
                        margin-left: 5px;
                    }
                    .creationArticle > form > .row > button{
                        margin-top: 15px;
                        padding : 10px;
                        font-size: 15px;
                        border: none;
                        color: white;
                        font-weight: bold;
                        background: #0a7922;
                    }
                    .creationArticle > form > .row > #cancel{
                        flex: 1 1 100px;
                        background: #949494;
                    }
                    .creationArticle > form > .row > #register{
                        flex: 2 1 200px;
                        margin-left: 15px;
                    }

                    #inputName, #description{
                        margin-right: 15px;
                    }
/*  $   articles
    ***************/
#head{
    height: 50px;
    background: #1d3f73;
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    justify-content: end;
    align-items : center;
    padding: 0 5px;
}
    #head > button{
        font-size: 15px;
        border: none;
        color: white;
        background: #0a7922;
        padding: 5px;
    }
    #head > button:first-child{
        background :#923e3e;
    }
    #head > button:not(:last-child){
        margin-left: 5px;
    }
.listOfArticle{
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}
    .articleContainer{
        display: flex;
        flex-flow: column wrap;
        padding: 10px;
        margin : 5px 5px;
        background: #ced7e4;
        max-width: 200px;
    }